*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none !important;
}
a{
    text-decoration: none !important;
    display: inline-block;
}
.menu ul li a{
    padding: 0 40px !important;
    color: white !important;
    font-size: 16px;
    font-weight: bold;
}
.menu{
    background: teal;
}






.banner img{
    
   height: 600px;
}
#me{
    background: tomato;
    padding: 100px 0;
}
#me .about h2{
    font-size: 50px;
    color: white;
}


.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}



/*  */
 
    .image-container {
      overflow: hidden;
      border: 1px solid #ddd;
    }

    .image-container img {
      width: 100%;
      transition: transform 0.4s ease;
      cursor: zoom-in;
    }

    .image-container:hover img {
      transform: scale(1.3);
    }
  
/*  */




#footer{
    background: teal;
    color: white;
    padding: 100px 0;
}
#footer .foot_manu li a{
    color: white;
    font-size: 16px;
    padding: 10px 0 !important;
}



/* form */

body {
    font-family: Arial;
    background: #f2f2f2;
}

.form-box {
    width: 320px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}


#form{
  padding:  100px 0;
}

#email{
  margin:  10px 0;
}




.clients-section {
    background: #f8f9fa;
}

.client-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.client-box img {
    max-height: 80px;
    object-fit: contain;
}
